.topbar {
	background-color: #1e293b;
	color: #fff;
	display: flex;
	align-items: center;
	height: 2.5em;
	font-size: 20px;
}

.topbar nav {
	margin-inline: auto;
}

.topbar ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}
.topbar a {
	color: #fff;
	text-decoration: none;
}
.topbar a:hover {
	color: #ffb92a;
}
