@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	min-height: 100vh;
	overflow: auto;
	background: linear-gradient(90deg, #ea284b 35%, #43204a 70%);
}

.container {
	position: relative;
	z-index: 1;
	font-size: 17px;
	width: 150vh;
	top: 0;
	left: 0;
	right: 0;
	padding: 3em 1.8em;
	background-color: #1e293b;
	border-radius: 0.6em;
	box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
	margin: 10vh auto 10vh auto;
	min-height: 150px;
}
.searchContainer {
	display: grid;
	grid-template-columns: 9fr 3fr;
	gap: 1.2em;
}
.searchContainer input,
button {
	font-size: 0.9em;
	outline: none;
	border-radius: 0.3em;
	border: none;
	padding-top: 0.1em;
}
.searchContainer input {
	padding-left: 0.5em;
	border-bottom-left-radius: 0.2px;
	border-bottom-right-radius: 0.2px;
}
.searchContainer input:focus {
	border-color: #fff;
}
.searchContainer button {
	justify-content: center;
	background-color: #ffb92a;
	font-size: 0.9em;
	border: none;
	cursor: pointer;
	padding: 0 0.5em 0 0.5em;
}
#result {
	color: #fff;
}
.msg {
	text-align: center;
}
h3 {
	font-weight: 500;
	margin-top: 1.2em;
}
p {
	font-size: 0.9em;
	font-weight: 300;
	line-height: 1.8em;
	text-align: justify;
	color: #a0a0a0;
}
.info {
	position: relative;
	display: grid;
	grid-template-columns: 4fr 8fr;
	margin-top: 1.2em;
}
.poster {
	width: 80%;
}
h2 {
	text-align: center;
	font-size: 1.5em;
	font-weight: 600;
	letter-spacing: 0.06em;
}
.rating {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}
.rating img {
	width: 1.5em;
	margin-right: 3px;
	margin-left: 15px;
}
.rating h4 {
	display: inline-block;
	font-size: 1.2em;
	font-weight: 500;
	cursor: pointer;
}
.rating title {
	font-size: 10px;
}
.details {
	display: flex;
	font-size: 0.95em;
	gap: 1em;
	justify-content: center;
	color: #a0a0a0;
	margin: 0.6em 0;
	font-weight: 300;
}

.genre {
	display: flex;
	justify-content: space-around;
}

.genre div {
	border: 1px solid #a0a0a0;
	font-size: 0.75em;
	padding: 0.4em 1.6em;
	border-radius: 0.4em;
	font-weight: 300;
}
#auto-complete-results {
	list-style: none;
	position: absolute;
	padding: bottom 10px;
	background-color: #3e434d;
	color: #fff;
	font-size: 0.9em;
	border-radius: 0em 0em 0.3em 0.3em;
	max-height: 300px;
	overflow-y: auto;
	width: 68.3%;
	margin-top: 23px;
	z-index: 3;
}
#auto-complete-results ul {
	list-style: none;
	margin: 0;
	padding: 0;
	bottom: 10px;
}

#auto-complete-results li {
	display: flex;
	align-items: center;
	font-size: 18px;
	cursor: pointer;
	list-style: none;
	padding: 8px;
	border: solid 2px #ffb92a;
}

#auto-complete-results li:hover {
	background-color: #7a7979;
}
#auto-complete-results img {
	width: 70px;
	height: 100px;
	margin-right: 10px;
}
#auto-complete-results p {
	padding-left: 15px;
}

.hometitle {
	margin-top: 1em;
	align-items: center;
}
.description {
	margin-top: 10px;
	text-align: center;
	font-weight: 600;
	letter-spacing: 0.06em;
	font-size: 18px;
	color: #d1d1d1;
}
.description a {
	color: #ffb92a;
	text-decoration: none;
}
.description a:hover {
	color: #fff;
}
.description p {
	color: #ffb92a;
	margin-top: 3em;
	text-align: center;
}
.divFilter {
	margin: 10vh;
	display: flex;
	justify-content: center;
}

.filterStyle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: #ffb92a;
	font-size: 20px;
	background-color: #121d30;
	width: 30em;
	height: 4.5em;
	border-radius: 1.3em;
}
#genre-select {
	outline: none;
	border: none;
	border-radius: 5px 5px 0px 0px;
	width: 10em;
	height: 2em;
	margin: 10px;
	padding-left: 5px;
}
.opFilter {
	border-radius: 0px 5px 5px 15px;
	position: absolute;
	max-height: 2em;
	overflow-y: auto;
}
.listaPorGenero {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	-webkit-text-stroke: 1px black;
}
.areaFilm {
	display: flex;
	align-items: end;
	justify-content: center;
	border-radius: 1.1em;
	border: inset 5px #0d1524;
	margin: 10vh 3vh 3vh 3vh;
	width: 200px;
	height: 300px;
	padding: 20px;
	transition: 0.5s;
	box-shadow: rgba(0, 0, 0, 0.6) 0px 6px 12px -2px, rgba(0, 0, 0, 0.6) 0px 3px 7px -3px;
	cursor: pointer;
}
.areaFilm h2 {
	font-size: 18px;
}
.areaFilm:hover {
	transform: scale(1.1, 1.1);
}
.notahome {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.3em;
	margin: 0;
}
.notahome img {
	width: 1.3em;
}
.pagination {
	display: flex;
	justify-content: center;
	gap: 1.3em;
}
.pagination button {
	background-color: #ffb92a;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
}
.topbar {
	background-color: #1e293b;
	color: #fff;
	display: flex;
	align-items: center;
	height: 2.5em;
	font-size: 20px;
}

.topbar nav {
	margin-inline: auto;
}

.topbar ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}
.topbar a {
	color: #fff;
	text-decoration: none;
}
.topbar a:hover {
	color: #ffb92a;
}

@media (min-width: 768px) and (max-width: 1024px) {
	.container {
		width: 90vh;
		font-size: 20px;
		margin-top: 1em;
		padding: 1em;
	}
	.searchContainer {
		display: flex;
		justify-content: center;
	}
	.container input {
		width: 43em;
		font-size: 14px;
	}
	#search-btn {
		display: none;
	}
	.hometitle {
		font-size: 18px;
	}
	.description {
		font-size: 13px;
	}
	#auto-complete-results {
		font-size: 14px;
		width: 43em;
	}
	#auto-complete-results li {
		font-size: 14px;
		border: solid 1px;
		overflow-y: auto;
	}
	#auto-complete-results img {
		width: 20%;
		height: 25%;
	}
	.divFilter {
		margin: 1em;
	}
	.filterStyle {
		font-size: 13px;
		padding: 0.5em;
	}
	#genre-select {
		width: 8em;
		font-size: 12px;
	}
	.areaFilm {
		width: 7em;
		height: 9.5em;
		margin: 3vh 0.5vh 1vh 0.5vh;
	}
	.areaFilm h2 {
		font-size: 14px;
	}
	.notahome {
		font-size: 14px;
	}
	.notahome img {
		width: 14px;
		margin-left: 5px;
	}
	.pagination {
		font-size: 14px;
		margin-top: 3vh;
	}
	.poster {
		width: 7em;
		height: 10em;
		border: solid 2px #a0a0a0;
		border-radius: 5px;
	}
	#result {
		display: flex;
		flex-direction: column;
	}
	h3 {
		font-size: 20px;
		font-weight: 500;
		margin-top: 1.2em;
	}
	p {
		font-size: 14px;
		font-weight: 300;
		line-height: 1.8em;
		text-align: justify;
		color: #a0a0a0;
	}
	.info {
		grid-template-columns: 4fr 8fr;
		margin-top: 1.2em;
	}
	h2 {
		text-align: center;
		font-size: 26px;
		font-weight: 600;
		letter-spacing: 0.06em;
	}
	.rating {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
	}
	.rating img {
		width: 18px;
	}
	.rating h4 {
		display: inline-block;
		font-size: 18px;
		font-weight: 500;
		cursor: pointer;
	}
	.rating title {
		font-size: 13px;
	}
	.details {
		display: flex;
		font-size: 14px;
		justify-content: center;
		color: #a0a0a0;
		margin: 0.6em 0;
		font-weight: 300;
	}

	.genre {
		display: flex;
		justify-content: space-around;
	}

	.genre div {
		border: 1px solid #a0a0a0;
		font-size: 14px;
		padding: 5px;
		border-radius: 0.4em;
		font-weight: 300;
	}
}
@media (min-width: 415px) and (max-width: 767px) {
	.container {
		width: 50vh;
		font-size: 20px;
		margin-top: 1em;
		padding: 1em;
	}
	.searchContainer {
		display: flex;
		justify-content: center;
	}
	.container input {
		width: 24em;
		font-size: 12px;
	}
	#search-btn {
		display: none;
	}
	.hometitle {
		font-size: 18px;
	}
	.description {
		font-size: 13px;
	}
	#auto-complete-results {
		font-size: 12px;
		width: 24em;
	}
	#auto-complete-results li {
		font-size: 10px;
		border: solid 1px;
		overflow-y: auto;
	}
	#auto-complete-results img {
		width: 30%;
		height: 40%;
	}
	.divFilter {
		margin: 1em;
	}
	.filterStyle {
		font-size: 13px;
		padding: 0.5em;
	}
	#genre-select {
		width: 8em;
		font-size: 12px;
	}
	.listaPorGenero{
		-webkit-text-stroke: 0.5px black;
	}
	.areaFilm {
		width: 6.5;
		height: 9em;
		margin: 3vh 0.5vh 1vh 0.5vh;
	}
	.areaFilm h2 {
		font-size: 10px;
	}
	.notahome {
		font-size: 11px;
	}
	.notahome img {
		width: 11px;
		margin-left: 5px;
	}
	.pagination {
		font-size: 12px;
		margin-top: 3vh;
	}
	.poster {
		width: 7em;
		height: 10em;
		border: solid 2px #a0a0a0;
		border-radius: 5px;
		margin-right: 5px;
	}
	#result {
		display: flex;
		flex-direction: column;
	}
	h3 {
		font-size: 16px;
		font-weight: 500;
		margin-top: 1.2em;
	}
	p {
		font-size: 12px;
		font-weight: 300;
		line-height: 1.8em;
		text-align: justify;
		color: #a0a0a0;
	}
	.info {
		margin-top: 1.2em;
	}
	h2 {
		text-align: center;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 0.06em;
	}
	.rating {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.rating img {
		width: 14px;
	}
	.rating h4 {
		display: inline-block;
		font-size: 14px;
		font-weight: 500;
		cursor: pointer;
	}
	.rating title {
		font-size: 10px;
	}
	.details {
		display: flex;
		font-size: 10px;
		gap: 1em;
		justify-content: center;
		color: #a0a0a0;
		margin: 0.6em 0;
		font-weight: 300;
	}

	.genre {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}

	.genre div {
		border: 1px solid #a0a0a0;
		font-size: 10px;
		padding: 5px;
		border-radius: 0.4em;
		font-weight: 300;
		margin-bottom: 9px;
		width: 8em;
		display: flex;
		justify-content: center;
	}
}
@media (max-width: 320px) {
	.container {
		width: 40vh;
		font-size: 20px;
		margin-top: 1em;
		padding: 1em;
	}
	.searchContainer {
		display: flex;
		justify-content: center;
	}
	.container input {
		width: 21em;
		font-size: 10px;
	}
	#search-btn {
		display: none;
	}
	.hometitle {
		font-size: 16px;
	}
	.description {
		font-size: 11px;
	}
	#auto-complete-results {
		font-size: 10px;
		width: 21em;
	}
	#auto-complete-results li {
		border: solid 1px;
		overflow-y: auto;
	}
	#auto-complete-results img {
		width: 30%;
		height: 40%;
	}
	.divFilter {
		margin: 1em;
	}
	.filterStyle {
		font-size: 13px;
		padding: 0.5em;
	}
	#genre-select {
		width: 8em;
		font-size: 12px;
	}
	.listaPorGenero{
		-webkit-text-stroke: 0.5px black;
	}
	.areaFilm {
		width: 5.5em;
		height: 8em;
		margin: 3vh 0.5vh 1vh 0.5vh;
	}
	.areaFilm h2 {
		font-size: 10px;
	}
	.notahome {
		font-size: 11px;
	}
	.notahome img {
		width: 11px;
		margin-left: 5px;
	}
	.pagination {
		font-size: 10px;
		margin-top: 3vh;
	}
	.poster {
		width: 5em;
		height: 7em;
		border: solid 2px #a0a0a0;
		border-radius: 5px;
		margin-right: 8px;
	}
	#result {
		display: flex;
		flex-direction: column;
	}
	h3 {
		font-size: 14px;
		font-weight: 500;
		margin-top: 1.2em;
	}
	p {
		font-size: 10px;
		font-weight: 300;
		line-height: 1.8em;
		text-align: justify;
		color: #a0a0a0;
	}
	.info {
		grid-template-columns: 4fr 8fr;
		margin-top: 1.2em;
	}
	h2 {
		text-align: center;
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 0.06em;
	}
	.rating {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.rating img {
		width: 12px;
	}
	.rating h4 {
		display: inline-block;
		font-size: 12px;
		font-weight: 500;
		cursor: pointer;
	}
	.rating title {
		font-size: 10px;
	}
	.details {
		display: flex;
		font-size: 10px;
		gap: 1em;
		justify-content: center;
		color: #a0a0a0;
		margin: 0.6em 0;
		font-weight: 300;
	}

	.genre {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}

	.genre div {
		border: 1px solid #a0a0a0;
		font-size: 6px;
		padding: 5px;
		border-radius: 0.4em;
		font-weight: 300;
		margin-bottom: 15px;
		width: 8em;
		display: flex;
		justify-content: center;
	}
	.topbar {
		height: 1.5em;
	}
}
@media (min-width: 321px) and (max-width: 414px) {
	.container {
		width: 46vh;
		font-size: 20px;
		margin-top: 1em;
		padding: 1em;
	}
	.searchContainer {
		display: flex;
		justify-content: center;
	}
	.container input {
		width: 24em;
		font-size: 12px;
	}
	#search-btn {
		display: none;
	}
	.hometitle {
		font-size: 18px;
	}
	.description {
		font-size: 13px;
	}
	#auto-complete-results {
		font-size: 12px;
		width: 24em;
	}
	#auto-complete-results li {
		font-size: 10px;
		border: solid 1px;
		overflow-y: auto;
	}
	#auto-complete-results img {
		width: 30%;
		height: 40%;
	}
	.divFilter {
		margin: 1em;
	}
	.filterStyle {
		font-size: 13px;
		padding: 0.5em;
	}
	#genre-select {
		width: 8em;
		font-size: 12px;
	}
	.listaPorGenero{
		-webkit-text-stroke: 0.5px black;
	}
	.areaFilm {
		width: 5.5em;
		height: 8em;
		margin: 3vh 0.5vh 1vh 0.5vh;
	}
	.areaFilm h2 {
		font-size: 10px;
	}
	.notahome {
		font-size: 11px;
	}
	.notahome img {
		width: 11px;
		margin-left: 5px;
	}
	.pagination {
		font-size: 12px;
		margin-top: 3vh;
	}
	.poster {
		width: 7em;
		height: 10em;
		border: solid 2px #a0a0a0;
		border-radius: 5px;
		margin-right: 5px;
	}
	#result {
		display: flex;
		flex-direction: column;
	}
	h3 {
		font-size: 14px;
		font-weight: 500;
		margin-top: 1.2em;
	}
	p {
		font-size: 12px;
		font-weight: 300;
		line-height: 1.8em;
		text-align: justify;
		color: #a0a0a0;
	}
	.info {
		margin-top: 1.2em;
	}
	h2 {
		text-align: center;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 0.06em;
	}
	.rating {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.rating img {
		width: 13px;
	}
	.rating h4 {
		display: inline-block;
		font-size: 13px;
		font-weight: 500;
		cursor: pointer;
	}
	.rating title {
		font-size: 10px;
	}
	.details {
		display: flex;
		font-size: 10px;
		gap: 1em;
		justify-content: center;
		color: #a0a0a0;
		margin: 0.6em 0;
		font-weight: 300;
	}

	.genre {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}

	.genre div {
		border: 1px solid #a0a0a0;
		font-size: 8px;
		padding: 5px;
		border-radius: 0.4em;
		font-weight: 300;
		margin-bottom: 9px;
		width: 6em;
		display: flex;
		justify-content: center;
	}
}
